* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-feature-settings: "ss01";
}

.sample_farsi_digits {
  font-feature-settings: "ss01";
}

html {
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  background-color: #f4fff4;
  overflow-x: hidden;
  font-family: "Vazirmatn", sans-serif;
  scroll-behavior: smooth;
  width: 100%;
}

#main-header {
  display: block;
  height: auto;
  padding-top: 100px;
}

#menu-icon {
  width: 60px;
}

#offcanvas-link-list li > a {
  padding: 1rem;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #333;
}

#top-nav {
  width: 100vw;
  padding: 0 12rem;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  scroll-behavior: smooth;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 5;
  transition: all 0.5s;
  overflow: hidden;
}

.top-nav-dynamic {
  background-color: #fff;
}

.nav-items {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav-item {
  text-decoration: none;
  padding: 1rem;
  height: 90px;
  display: flex;
  align-items: center;
  text-align: center;
}

.nav-item:first-of-type {
  background-color: #1abc9c;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
}

.top-nav__left {
  height: 100%;
}

.top-nav__left__logo {
  width: 250px;
  margin-top: 2rem;
  transition: all 0.5s;
}

.top-nav__left__logo-dynamic {
  width: 80px;
  margin-top: 0;
}

.hero-image {
  background-image: url(../images/hero-image-large.png);
  background-color: #f4fff4;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  min-height: 200px;
}

p {
  font-size: 1.3rem;
}

h1 {
  font-weight: bolder;
  line-height: 45px;
  color: #000;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.h1__main {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 4rem;
}

.h1__info {
  font-size: 2rem;
}

a:link,
a {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: initial;
}
a:hover {
  color: initial;
}
a:active {
  color: initial;
}

article {
  border-radius: 9px;
  margin: 10px;
  margin-top: 6rem;
  overflow: hidden;
  background-color: whitesmoke;
}

.post__heading-container {
  background-color: rgba(0, 255, 255, 0.3);
}

.post-img-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-img-group:not(.post-img-group:nth-of-type(1)) {
  margin-top: 5rem;
}

.post-img-group:last-of-type img {
  width: 90%;
  max-width: 600px;
}

.post-img-group img {
  width: 40vw;
  min-width: 200px;
  margin: 0.8rem;
  border-radius: 9px;
}

.post-title {
  font-weight: bolder;
  font-size: 1.5rem;
  display: block;
  padding: 1rem;
  padding-right: 0;
}

.post__body {
  padding: 1rem;
  background-color: whitesmoke;
}

.post__body > ul {
  list-style: square;
  padding-right: 0;
}

.post__body li {
  font-size: 1.3rem;
  margin: 1.3rem;
  line-height: 40px;
}

.about-us-main-img {
  margin: 1rem;
  margin-right: 2rem;
  width: 40vw;
  min-width: 300px;
  max-width: 500px;
  float: left;
}

.about-us-main-img img {
  width: 100%;
}

.tags-container {
  padding: 1.5rem;
  background-color: #1abc9c;
}

.post-tag {
  font-weight: bold;
  text-decoration: underline;
  padding: 0.6rem;
  border-radius: 7px;
}
.post-tag:hover {
  background-color: #f8bf90;
}

#footer {
  background: linear-gradient(to bottom, #3d3d3d, #202020);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  padding-bottom: 3px;
}

#footer > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.contact-methods {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

.telegram-logo {
  width: 50px;
}

.whatsapp-logo {
  width: 60px;
}

.instagram-logo {
  width: 70px;
}

.footer__contact-section {
  padding: 2rem;
}

.contact-info p {
  margin: 0.3rem;
}

.contact-methods a {
  transition: all 0.2s;
}

.contact-methods a:hover {
  transform: translateY(-10px);
}

.footer__copyright p {
  color: #f8bf90;
  font-weight: bold;
  font-size: 0.8rem;
}

@media screen and (max-width: 1568px) {
  .top-nav__left__logo {
    width: 200px;
  }
  .top-nav__left__logo-dynamic {
    width: 80px;
    margin-top: 0;
  }
}

@media screen and (max-width: 1423px) {
  #top-nav {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 1190px) {
  .top-nav__left__logo {
    width: 150px;
  }
  .top-nav__left__logo-dynamic {
    width: 80px;
    margin-top: 0;
  }
  #top-nav {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 720px) {
  .about-us-main-img {
    margin: 1rem;
    margin-right: 1.5rem;
    width: 30vw;
    min-width: 100px;
    max-width: 500px;
    float: left;
  }
}

@media screen and (max-width: 600px) {
  .hero-image {
    background-image: url(../images/hero-image-mobile.png);
    background-position: top center;
  }
  #menu-icon {
    width: 47px;
  }
  article {
    margin-top: 4rem;
  }
  .about-us-main-img {
    display: flex;
    justify-content: center;
    align-items: center;
    float: none;
    margin: 1rem auto;
    min-width: 300px;
  }
}

@media screen and (max-width: 482px) {
  .top-nav__left__logo {
    width: 130px;
  }
  .top-nav__left__logo-dynamic {
    width: 80px;
    margin-top: 0;
  }
  .sanati-img-1 {
    display: none;
  }
  .dam-img-1 {
    display: none;
  }
  .post-img-group img {
    width: 100%;
  }
}

@media screen and (max-width: 466px) {
  #footer > div {
    flex-direction: column;
  }
}

@media screen and (max-width: 444px) {
  .top-nav__left__logo {
    width: 100px;
    padding: 3px;
  }
  .top-nav__left__logo-dynamic {
    width: 80px;
    margin-top: 0;
  }
  .footer__image {
    width: 170px;
  }
}

@media screen and (max-width: 466px) {
  #top-nav {
    padding: 0 10px;
  }
  ul {
    padding: 0;
  }
  .top-nav__left__logo {
    width: 90px;
    padding: 3px;
  }
  .top-nav__left__logo-dynamic {
    width: 80px;
    margin-top: 0;
  }
}

@media screen and (max-width: 368px) {
  .about-us-main-img {
    width: 90%;
    min-width: unset;
  }
}

@media screen and (max-width: 348px) {
  #menu-icon {
    width: 35px;
  }
}

@media screen and (max-width: 326px) {
  .nav-item {
    font-size: 0.9rem;
    font-weight: bold;
  }
  .nav-item:first-of-type {
    font-size: 0.9rem;
  }
  #top-nav {
    padding-right: 0;
  }
}

@media screen and (max-width: 302px) {
  .nav-item {
    font-size: 0.8rem;
  }
  .nav-item:first-of-type {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 288px) {
  .nav-item {
    font-size: 0.7rem;
  }
  .nav-item:first-of-type {
    font-size: 0.7rem;
  }
  .top-nav__left__logo {
    width: 80px;
    padding: 3px;
  }
  .top-nav__left__logo-dynamic {
    width: 80px;
    margin-top: 0;
  }
}

@media screen and (min-width: 700px) {
  .hero-image {
    min-height: 400px;
    margin-top: -5rem;
  }
}

@media screen and (min-width: 1330px) {
  .hero-image {
    min-height: 700px;
    margin-top: -13rem;
  }
}
